.engagements{
    background: $beige_clairr;
    padding: 80px 0 100px;
    &__list{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        @media (min-width: map-get($grid-breakpoints, md)) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__item{
            transition: filter .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            @media (min-width: map-get($grid-breakpoints, md)) {
                margin-bottom: 50px;
            }

            img{
                margin-bottom: 20px;
            }
            p{
                width: 280px;
            }

            &:hover img{
                filter: sepia(1);
            }
        }
    }
}