@font-face {
    font-family: 'Comfortaa_light';
    src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Comfortaa_regular';
    src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Comfortaa_bold';
    src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');